header {

    display: flex;
    flex-direction: column;
    font-weight: bold;

    nav {
        @include background($amarillo-oscuro);


        .nav_container {

            .nav_mobile {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .logo {
                    width: 15rem;
                }

                .nav_label {
                    display: block;
                    cursor: pointer;

                    img {
                        height: 5rem;
                        margin-top: 1rem;

                    }
                }

            }

            .nav_input {
                display: none;
            }

            .nav_menu {

                ul {
                    position: fixed;
                    z-index: 1;
                    top: 10rem;
                    bottom: 0;
                    @include background($verde-claro);
                    width: 100%;
                    left: -100%;
                    display: flex;
                    justify-content: space-evenly;
                    flex-direction: column;
                    align-items: center;
                    transition: all 0.5s;


                    li {
                        list-style-type: none;
                        display: flex;
                        align-items: center;

                        img {
                            width: 2rem;
                            margin: 1.5rem;
                        }

                        a {
                            color: $negro-letra;
                            text-decoration: none;

                        }

                    }
                }

            }

            .nav_input:checked+.nav_menu {
                ul {
                    left: 0;
                }
            }




        }

    }

    img {
        width: 100%;

    }



}
