.quienesSomos {

    @include background($verde-claro);
    display: grid;
    margin-top: 0;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "textoUno"
        "textoDos"
        "textoTres"
        "textoCuatro";

    .textoUno {
        grid-area: textoUno;
    }

    .textoDos {
        grid-area: textoDos;
    }

    .textoTres {
        grid-area: textoTres;
    }

    .textoCuatro {
        grid-area: textoCuatro;
    }

    .texto {

        margin-top: 1rem;
        margin-bottom: 0rem;

        img {
            margin: 1rem;
            width: 4rem;
            overflow: hidden;
        }

        h2 {
            font-size: 3rem;
            margin: 0.5rem;
            @include hover($verde-intermedio);
        }

        p {
            font-size: 2rem;
            margin: 1.5rem;
            text-align: justify;
        }
    }
}

.miau {
    display: grid;
    margin-top: 0;
    margin-bottom: 0;
    background-color: $cafe-claro;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "tituloMiau"
        "textoMiauUno"
        "textoMiauDos"
        "imgMiau";


    .tituloMiau {
        grid-area: tituloMiau;
        @include hover($verde-intermedio);
    }

    .textoMiauUno {
        grid-area: textoMiauUno;
    }

    .textoMiauDos {
        grid-area: textoMiauDos;
    }

    .imgMiau {
        grid-area: imgMiau;

    }

    p{
        font-size: 2rem;
        margin: 1.5rem;
        text-align: justify;
    }

    h2 {
        font-size: 3rem;
        margin: 1rem;
    }

    .textoMiau {
        padding-bottom: 0;
    }

    .imgMiau {

        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.5rem;

        figure {
            position: relative;
            height: 25rem;
            width: 95%;
            overflow: hidden;
            border-radius: 0.6rem;
            box-shadow: 0rem 1.5rem 2.5rem rgba(0, 0, 0, 0.50);

            &:hover {

                .capa {
                    opacity: 1;
                    visibility: visible;

                    h2 {
                        margin-top: 7rem;
                        margin-bottom: 1.5rem;
                    }
                }

                img {
                    transform: scale(1.5);
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 500ms ease-out;

            }

            .capa {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 103, 123, 0.6);
                transition: all 500ms ease-out;
                opacity: 0;
                visibility: hidden;
                text-align: center;

                h2 {
                    color: $verde-claro;
                    font-weight: 200rem;
                    margin-bottom: 15rem;
                    transition: all 500ms ease-out;
                    margin-top: 1rem;

                }

                p {
                    color: $verde-claro;
                    font-weight: 100rem;
                    margin-bottom: 5rem;
                    transition: all 500ms ease-out;
                    margin-top: 1rem;
                    text-align: center;

                }

            }

        }
    }
}

.ofertas {

    background-color: $verde-intermedio;


    h2 {
        font-size: 3rem;
        padding-top: 1rem;
        
        @include hover($verde-claro);
        
    }

    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .cards {
            width: 30rem;
            justify-content: center;
            margin: 1.5rem;
            background-color: $verde-claro;
            border-radius: 1.5rem;
            transition: 0.2s;




            &:hover {
                box-shadow: 0.39rem 0.78rem 0.78rem hsl(0deg 0% 0% / 0.38);
            }

            .cardImg {
                img {
                    width: 100%;
                    border-radius: 1rem 1rem 0rem 0rem;
                }
            }

            .cardBody {

                h3 {
                    text-align: center;
                    @include hover($verde-intermedio);
                }

                p {
                    text-align: justify;
                    margin-bottom: 10px;
                    padding: 5px;
                }

            }

            .cardFooter {
                display: flex;
                justify-content: center;
                align-items: center;

                button {

                    width: 15rem;
                    background-color: $verde-intermedio;
                    color: $verde-claro;
                    border-radius: 15px;
                    border: 2px solid $verde-claro;
                    padding: 6px;
                    font-size: 17px;
                    cursor: pointer;
                    margin-bottom: 1rem;
                    transition: 0.2s;

                    &:hover {
                        background-color: $amarillo-oscuro;
                        color: $verde-intermedio;
                        border: 2px solid $verde-claro;
                    }
                }
            }
        }
    }

}







