@media (min-width: $tablet) {

    .quienesSomos {

        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "textoUno textoDos"
            "textoTres textoCuatro";
    }

    .miau {
        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "tituloMiau tituloMiau"
            "textoMiauUno textoMiauDos"
            "textoMiauUno textoMiauDos"
            "imgMiau imgMiau";
    }

    .adopciones {

        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(7, auto);
        grid-template-areas:
            "tituloAdopciones tituloAdopciones"
            "adopcionesUno adopcionesDos"
            "adopcionesTres adopcionesCuatro"
            "adopcionesCinco adopcionesSeis"
            "adopcionesSiete adopcionesOcho"
            "adopcionesNueve adopcionesDiez"
            "adopcionesOnce adopcionesDoce";
    }
}






@media (min-width: $laptop) {

    header {

        display: flex;
        flex-direction: column;
        font-weight: bold;
    
        nav {
            @include background($amarillo-oscuro);

            .nav_container {

                display: flex;
                justify-content: space-between;
                align-items: center;
    
                .nav_mobile {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    .logo {
                        width: 15rem;
                    }
    
                    .nav_label {
                        display: none;
                        //cursor: pointer;
    
                    }
    
                }
    
                .nav_input {
                    display: none;
                }
    
                .nav_menu {
    
                    ul {
                        position: static;
                        background-color: $amarillo-oscuro;
                        display: flex;
                        justify-content: end;
                        flex-direction: row;
                        align-items: center;
                        transition: all 0s;
    
    
                        li {
                            list-style-type: none;
                            display: flex;
                            align-items: center;
    
                            img{
                                display: none;
                            }
    
                            a {
                                color: $negro-letra;
                                text-decoration: none;
                                padding: 2rem;
                                
                            }
                            
                        }
                    }
    
                }

            }
    
        }
    
        img {
            width: 100%;   
    
        }
    
    
    
    }

    .footer {

        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: repeat(1, auto);
        grid-template-areas:
            "footerUno footerIcon footerDos";

    }

    .adopciones {

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(7, auto);
        grid-template-areas:
            "tituloAdopciones tituloAdopciones tituloAdopciones"
            "adopcionesUno adopcionesDos adopcionesTres"
            "adopcionesCuatro adopcionesCinco adopcionesSeis"
            "adopcionesSiete adopcionesOcho adopcionesNueve"
            "adopcionesDiez adopcionesOnce adopcionesDoce"
        ;
    }


}


@media (min-width: $desktop) {

    .quienesSomos {

        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(1, auto);
        grid-template-areas:
            "textoUno textoDos textoTres textoCuatro";

    }

}

