@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  font-size: 2rem;
  min-height: 100vh;
  color: #000000;
}

header {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
header nav {
  background-color: #FFF26B;
}
header nav .nav_container .nav_mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .nav_container .nav_mobile .logo {
  width: 15rem;
}
header nav .nav_container .nav_mobile .nav_label {
  display: block;
  cursor: pointer;
}
header nav .nav_container .nav_mobile .nav_label img {
  height: 5rem;
  margin-top: 1rem;
}
header nav .nav_container .nav_input {
  display: none;
}
header nav .nav_container .nav_menu ul {
  position: fixed;
  z-index: 1;
  top: 10rem;
  bottom: 0;
  background-color: #C3FCF1;
  width: 100%;
  left: -100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
}
header nav .nav_container .nav_menu ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
}
header nav .nav_container .nav_menu ul li img {
  width: 2rem;
  margin: 1.5rem;
}
header nav .nav_container .nav_menu ul li a {
  color: #000000;
  text-decoration: none;
}
header nav .nav_container .nav_input:checked + .nav_menu ul {
  left: 0;
}
header img {
  width: 100%;
}

.quienesSomos {
  background-color: #C3FCF1;
  display: grid;
  margin-top: 0;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "textoUno" "textoDos" "textoTres" "textoCuatro";
}
.quienesSomos .textoUno {
  grid-area: textoUno;
}
.quienesSomos .textoDos {
  grid-area: textoDos;
}
.quienesSomos .textoTres {
  grid-area: textoTres;
}
.quienesSomos .textoCuatro {
  grid-area: textoCuatro;
}
.quienesSomos .texto {
  margin-top: 1rem;
  margin-bottom: 0rem;
}
.quienesSomos .texto img {
  margin: 1rem;
  width: 4rem;
  overflow: hidden;
}
.quienesSomos .texto h2 {
  font-size: 3rem;
  margin: 0.5rem;
}
.quienesSomos .texto h2:hover {
  color: #659B91;
}
.quienesSomos .texto p {
  font-size: 2rem;
  margin: 1.5rem;
  text-align: justify;
}

.miau {
  display: grid;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #AFAB99;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "tituloMiau" "textoMiauUno" "textoMiauDos" "imgMiau";
}
.miau .tituloMiau {
  grid-area: tituloMiau;
}
.miau .tituloMiau:hover {
  color: #659B91;
}
.miau .textoMiauUno {
  grid-area: textoMiauUno;
}
.miau .textoMiauDos {
  grid-area: textoMiauDos;
}
.miau .imgMiau {
  grid-area: imgMiau;
}
.miau p {
  font-size: 2rem;
  margin: 1.5rem;
  text-align: justify;
}
.miau h2 {
  font-size: 3rem;
  margin: 1rem;
}
.miau .textoMiau {
  padding-bottom: 0;
}
.miau .imgMiau {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}
.miau .imgMiau figure {
  position: relative;
  height: 25rem;
  width: 95%;
  overflow: hidden;
  border-radius: 0.6rem;
  box-shadow: 0rem 1.5rem 2.5rem rgba(0, 0, 0, 0.5);
}
.miau .imgMiau figure:hover .capa {
  opacity: 1;
  visibility: visible;
}
.miau .imgMiau figure:hover .capa h2 {
  margin-top: 7rem;
  margin-bottom: 1.5rem;
}
.miau .imgMiau figure:hover img {
  transform: scale(1.5);
}
.miau .imgMiau figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 500ms ease-out;
}
.miau .imgMiau figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 103, 123, 0.6);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.miau .imgMiau figure .capa h2 {
  color: #C3FCF1;
  font-weight: 200rem;
  margin-bottom: 15rem;
  transition: all 500ms ease-out;
  margin-top: 1rem;
}
.miau .imgMiau figure .capa p {
  color: #C3FCF1;
  font-weight: 100rem;
  margin-bottom: 5rem;
  transition: all 500ms ease-out;
  margin-top: 1rem;
  text-align: center;
}

.ofertas {
  background-color: #659B91;
}
.ofertas h2 {
  font-size: 3rem;
  padding-top: 1rem;
}
.ofertas h2:hover {
  color: #C3FCF1;
}
.ofertas .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.ofertas .container .cards {
  width: 30rem;
  justify-content: center;
  margin: 1.5rem;
  background-color: #C3FCF1;
  border-radius: 1.5rem;
  transition: 0.2s;
}
.ofertas .container .cards:hover {
  box-shadow: 0.39rem 0.78rem 0.78rem hsla(0, 0%, 0%, 0.38);
}
.ofertas .container .cards .cardImg img {
  width: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
}
.ofertas .container .cards .cardBody h3 {
  text-align: center;
}
.ofertas .container .cards .cardBody h3:hover {
  color: #659B91;
}
.ofertas .container .cards .cardBody p {
  text-align: justify;
  margin-bottom: 10px;
  padding: 5px;
}
.ofertas .container .cards .cardFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ofertas .container .cards .cardFooter button {
  width: 15rem;
  background-color: #659B91;
  color: #C3FCF1;
  border-radius: 15px;
  border: 2px solid #C3FCF1;
  padding: 6px;
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: 0.2s;
}
.ofertas .container .cards .cardFooter button:hover {
  background-color: #FFF26B;
  color: #659B91;
  border: 2px solid #C3FCF1;
}

.adopciones {
  background-color: #C3FCF1;
  display: grid;
  grid-template-rows: repeat(13, auto);
  grid-template-columns: 1fr;
  gap: 20px;
  grid-template-areas: "tituloAdopciones" "adopcionesUno" "adopcionesDos" "adopcionesTres" "adopcionesCuatro" "adopcionesCinco" "adopcionesSeis" "adopcionesSiete" "adopcionesOcho" "adopcionesNueve" "adopcionesDiez" "adopcionesOnce" "adopcionesDoce";
}
.adopciones .tituloAdopciones {
  grid-area: tituloAdopciones;
}
.adopciones .adopcionesUno {
  grid-area: adopcionesUno;
}
.adopciones .adopcionesDos {
  grid-area: adopcionesDos;
}
.adopciones .adopcionesTres {
  grid-area: adopcionesTres;
}
.adopciones .adopcionesCuatro {
  grid-area: adopcionesCuatro;
}
.adopciones .adopcionesCinco {
  grid-area: adopcionesCinco;
}
.adopciones .adopcionesSeis {
  grid-area: adopcionesSeis;
}
.adopciones .adopcionesSiete {
  grid-area: adopcionesSiete;
}
.adopciones .adopcionesOcho {
  grid-area: adopcionesOcho;
}
.adopciones .adopcionesNueve {
  grid-area: adopcionesNueve;
}
.adopciones .adopcionesDiez {
  grid-area: adopcionesDiez;
}
.adopciones .adopcionesOnce {
  grid-area: adopcionesOnce;
}
.adopciones .adopcionesDoce {
  grid-area: adopcionesDoce;
}
.adopciones img {
  margin-bottom: 0;
  width: 90%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 3rem 3rem 0 0;
  opacity: 0.7;
  transition: 0.5s;
}
.adopciones img:hover {
  opacity: 1;
  scale: 1.05;
}
.adopciones h1 {
  padding-top: 2rem;
}
.adopciones h1:hover {
  color: #659B91;
}
.adopciones p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.adopciones p:hover {
  color: #659B91;
}

.section {
  background-color: #C3FCF1;
}
.section .wrapper {
  margin: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}
.section .title {
  text-align: center;
  padding-top: 1.5rem;
  margin-bottom: 6rem;
}
.section .title:hover {
  color: #FFF26B;
}
.section .title h2 {
  text-transform: capitalize;
  font-size: 3.6rem;
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
}
.section .title h2 span {
  display: block;
  font-size: 1.8rem;
  margin-bottom: -1rem;
}
.section .title h2::before {
  position: absolute;
  content: "";
  width: 12rem;
  height: 0.2rem;
  background-color: #C3FCF1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.section .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section .menu .single-menu {
  flex-basis: 40rem;
  margin-bottom: 4rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section .menu .single-menu img {
  align-items: center;
  max-width: 20rem;
  border-radius: 50%;
  padding: 0.3rem;
  transition: 0.7s;
}
.section .menu .single-menu img:hover {
  border-radius: 0;
}
.section .menu .single-menu h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 2.2rem;
  border-bottom: 0.1rem solid #C3FCF1;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5px;
}
.section .menu .single-menu h2:hover {
  color: #FFF26B;
}
.section .menu .single-menu h2 span {
  color: #000000;
}
.section .menu .single-menu h2 span:hover {
  color: #FFF26B;
}
.section .menu .single-menu p {
  text-align: justify;
  font-size: 1.7rem;
}
.section .menu .single-menu p:hover {
  color: #FFF26B;
}

.blog {
  background-color: #659B91;
}
.blog h1 {
  font-size: 3.5rem;
}
.blog h1:hover {
  color: #C3FCF1;
}
.blog .card img {
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog .card .card-body {
  background-color: #C3FCF1;
}
.blog .card .card-body .card-title h2 {
  font-size: 2.5rem;
  text-transform: capitalize;
}
.blog .card .card-body .card-title h2:hover {
  color: #659B91;
}
.blog .card .card-body .card-text p {
  font-size: 1.9rem;
  text-align: justify;
}
.blog .card .card-body .btn-outline-primary {
  background-color: #FFF26B;
  color: #659B91;
  border-color: #659B91;
}

.mainGaleria {
  background-color: #C3FCF1;
}
.mainGaleria h1:hover {
  color: #659B91;
}
.mainGaleria .contenedorGaleria {
  display: grid;
  gap: 0.5rem;
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
.mainGaleria .contenedorGaleria img {
  padding: 10px;
  width: 80%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: 0.5s;
  opacity: 0.8;
}
.mainGaleria .contenedorGaleria img:hover {
  transform: scale(1.2);
  opacity: 1;
}

footer {
  background-color: #FFF26B;
  margin-bottom: 0;
  margin-top: 0;
}

.footer {
  font-weight: bolder;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "footerUno" "footerDos" "footerIcon";
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}
.footer .footer_text_uno {
  grid-area: footerUno;
}
.footer .footer_text_uno .text_footer:hover {
  color: #659B91;
}
.footer .footer_text_dos {
  grid-area: footerDos;
}
.footer .footer_text_dos .text_footer:hover {
  color: #659B91;
}
.footer .footer_icon {
  grid-area: footerIcon;
}

@media (min-width: 501px) {
  .quienesSomos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "textoUno textoDos" "textoTres textoCuatro";
  }
  .miau {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "tituloMiau tituloMiau" "textoMiauUno textoMiauDos" "textoMiauUno textoMiauDos" "imgMiau imgMiau";
  }
  .adopciones {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "tituloAdopciones tituloAdopciones" "adopcionesUno adopcionesDos" "adopcionesTres adopcionesCuatro" "adopcionesCinco adopcionesSeis" "adopcionesSiete adopcionesOcho" "adopcionesNueve adopcionesDiez" "adopcionesOnce adopcionesDoce";
  }
}
@media (min-width: 769px) {
  header {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  header nav {
    background-color: #FFF26B;
  }
  header nav .nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav .nav_container .nav_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav .nav_container .nav_mobile .logo {
    width: 15rem;
  }
  header nav .nav_container .nav_mobile .nav_label {
    display: none;
  }
  header nav .nav_container .nav_input {
    display: none;
  }
  header nav .nav_container .nav_menu ul {
    position: static;
    background-color: #FFF26B;
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    transition: all 0s;
  }
  header nav .nav_container .nav_menu ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  header nav .nav_container .nav_menu ul li img {
    display: none;
  }
  header nav .nav_container .nav_menu ul li a {
    color: #000000;
    text-decoration: none;
    padding: 2rem;
  }
  header img {
    width: 100%;
  }
  .footer {
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "footerUno footerIcon footerDos";
  }
  .adopciones {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "tituloAdopciones tituloAdopciones tituloAdopciones" "adopcionesUno adopcionesDos adopcionesTres" "adopcionesCuatro adopcionesCinco adopcionesSeis" "adopcionesSiete adopcionesOcho adopcionesNueve" "adopcionesDiez adopcionesOnce adopcionesDoce";
  }
}
@media (min-width: 980px) {
  .quienesSomos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "textoUno textoDos textoTres textoCuatro";
  }
}